.app {
  	text-align: left;
}

.app-header {
  	background-color: #9797b7;
  	display: flex;
  	flex-direction: column;
  	/* align-items:; */
  	justify-content: space-between;
  	font-size: 20px;
  	color: white;
}

.yoo-text-1 {
  	color: #ff0066;
}

.yoo-bg-1 {
	background: #ff0066;
}

.simple-form {
	width: 400px;
}

.container-75vh {
	height: 75vh;
}

.offer-img {
	height: 150px;
	width: 150px;
}

.trip-img {
	width: 900px;
}

.trip-info {
	height: 520px;
}

.conversation-box {
	height: 330px;
}

.input-file {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 0.1px;
	height: 0.1px;
}

.img-preview {
	width: 100px;
}

.label-input-file {
	cursor: pointer;
	z-index: 2;
}

.yoo-hide {
	animation-name: slide-up;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	overflow: hidden;
	position: relative;
}

@keyframes slide-up {
	from { height: 62px; bottom: 0; }
	to { height: 0; margin: 0; bottom: 32px; }
}

.yoo-show {
	animation-name: slide-down;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	position: relative;
	overflow: hidden;
}

@keyframes slide-down {
	from { height: 0; bottom: 32px; }
	to { height: 62px; bottom: 0; }
}